/SmartSchool-SWP391/build/
/SmartSchool-SWP391/dist/
/SmartSchool-SWP391/nbproject/private/private.xml
/SmartSchool-SWP391/nbproject/project.properties
SmartSchool-SWP391/nbproject/private/private.properties